<% include partials/header %>

    <div class="ui main text container segment">
           <div class="ui huge header">Add New Game
        </div>
        <form class="ui form" action="/addGame" method="POST">
            <div class="field">
                <label>GameID</label>
                <input type="text" name="gameID" value="<%= gID[0].AUTO_INCREMENT %>" readonly>
            </div>            
            <div class="field">
                <label>Game Name</label>
                <input type="text" name="name" required>
            </div>
            <div class="field">
                <label>Release Date</label>
                <input type="date" name="releasedate" required>
            </div>
            <div class="field">
                <label>Publisher</label>
                <select name="publisherID" required>
                    <optgroup>
                        <% publisher.forEach(function(list){ %>
                        <option value="<%= list.publisherID %>"><%= list.name %></option>
                        <% }); %>
                    </optgroup>
                </select>
            </div>
            <div class="field">
                <label>Genre</label>
                <select name="genreID" required>
                    <optgroup>
                        <% genre.forEach(function(list){ %>
                        <option value="<%= list.genreID %>"><%= list.type %></option>
                        <% }); %>
                    </optgroup>
                </select>
            </div>
            <div class="field">
                <label>Platform</label>
                <select name="platformID" required>
                    <optgroup>
                        <% platform.forEach(function(list){ %>
                        <option value="<%= list.platformID %>"><%= list.name %></option>
                        <% }); %>
                    </optgroup>
                </select>
            </div>
            <input class="ui red med basic button" type="submit">
        </form>
        <form class="ui form" action="/game">
            <input class="ui blue med  button" value="Cancel" type="submit">
        </form>
    </div>

<% include partials/footer %>

